html {
    max-width: 50%;
    margin: 0 auto;
}

main {
    margin-top: 35%;
    margin-bottom: 40%;
}

h1 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
}

button {    
    background-color: rgb(102, 165, 144);
    color: black; 
    padding: 8%;
    height: auto;
    text-align: center;
    font-size:medium;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button:hover {
    border: 5px solid rgb(201, 158, 103);
}

.modal {
    display: none; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color: rgb(226, 228, 136);

    
} 

footer {
    text-align: center;
    position: bottom;
    

}